.light {
    background-color: #f8fafc;
}
.fugu {
    color: rgba(17,19,14,.7);
    background-color: #f2efdd;
}
.huyan {
    color: rgba(16,20,16,.7);
    background-color: #c7ebca;
}
.haitian {
    color: rgba(16,20,16,.7);
    background-color: #dce2f1;
}
.dark {
    background-color: #16202f;
}
.black {
    background-color: #171717;
}